@model IEnumerable<Marshrutkaby.Models.OrderSet>

@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataRoutesSet.RoutesSet.StartingPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRoutesSet.RoutesSet.EndPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRoutesSet.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRoutesSet.TimeSet.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRoutesSet.TimeSet.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRoutesSet.TransportCompanySet.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationSet.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationSet.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationSet.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTime)
        </th>
      
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataRoutesSet.RoutesSet.StartingPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRoutesSet.RoutesSet.EndPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRoutesSet.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRoutesSet.TimeSet.DepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRoutesSet.TimeSet.ArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRoutesSet.TransportCompanySet.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationSet.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationSet.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationSet.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTime)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.IdRegistration, @class = "btn btn-order" })
        </td>
    </tr>
}

</table>
@using (Html.BeginForm("Order", "Home"))
{
@Html.ActionLink("Отменить", "_Delete", new { id = @ViewBag.idorder }, new { @class = "compItem", data_dialog_title = "Отмена" })
}
@Html.ActionLink("Подтвердить", "Index", new { id = "btnback" }, new { @class = "btn btn-login" })
    

@section Scripts {
    <script type="text/javascript">
     $(function () {
            $.ajaxSetup({ cache: false });
           $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}